* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
#app{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  
}

#counter2{
  perspective: 20px;
  /* transform: rotateY(45deg); */
}

#grid{
  width: 50em;
  display: flex;
  flex-wrap: wrap;
}

.squares{
  height: 2rem;
  width: 2rem;
  background: red;
  border: 1px solid white;
}

#player{
  height: 2rem;
  width: 2rem;
  background-image: url("images/redFront.png");
  object-fit: scale-down;
}

