@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

#audioCont{
  display: none;
}

#notScaledBackground{
  position: absolute;
  background: #f2ac00;
  width: 100vw;
  height: 100vh;
}

#app{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2ac00;
  width: 100vw;
  height: 100vh;
  transform: scale(0.7)
}



#GBC{
  position: absolute;
  top: -5rem;
  height: 60rem;
  width: 38rem;
  object-fit: fill;
}

#counter2{
  perspective: 20px;
  /* transform: rotateY(45deg); */
}

#grid{
  position: absolute;
  margin-top: 0rem;
  width: 20em;
  display: flex;
  flex-wrap: wrap;
}

#enterBattle{
  position: absolute;
  width: 20em;
  height: 20rem;
  background: rgba(255, 255, 255);
  opacity: 0;
}

/* Intro Screen ------------------------------------------------------------------------------------------------ */
#introScreen{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0rem;
  text-align: center;
  width: 20em;
  background: red;
  height: 20rem;

  border: 1px solid black;
}

#introChar{
  position: relative;
  top: -2rem;
  height: 10rem;
  width: 10rem;
}

#titleText{
  width: 18rem;
  margin-top: .5rem;
}

#titleVersion{
  /* color: red; */
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

#introImg{
  height: 5rem;
}

#pressEnter{
  margin-top: 1rem;
  color: silver;
  font-weight: bold;
}


/* Battle Screen --------------------------------------------------------------------------------------------------------- */
#battleScreen{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0rem;
  text-align: center;
  width: 20em;
  background-image: linear-gradient(to top, #ffffff, #fff9ff, #fff3f2, #fff3d5, #fbfbc4);
  height: 20rem;
  display: none;
  /* border-radius: 5px; */
  border: 1px solid black;
  overflow: hidden;
}

#charBar{
  position: absolute;
  height: 2.5rem;
  width: 10rem;
  border: 2px solid rgb(46, 46, 46);
  bottom: 5rem;
  right: 0rem;
  border-radius: 5px;
  background: rgb(255, 242, 222);
}

#charBarTop{
  display: flex;
}
#charBarTop p{
  padding-left: .5rem;
}

#charRing{

  position: absolute;
  z-index: -5;
  top: -2rem;
  left: 0rem;
  width: 10rem;
  height: 3rem;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: none;
  
}

#hpBar{
  width: 8rem;
  margin-left: 10%;
  height: .5rem;
  background: red;
  border-radius: 10px;
  overflow: hidden;
  top: .5rem;
}

#hpBarInner{

  height: .7rem;
  background: green;
}

#hpValue{
  margin-top: .1rem;
  margin-left:6rem;
}

#charBarBottom{
  display: flex;
}

#playerHpText {
  position: relative;
  font-size: .5rem;
  top: -.15rem;
  left: .7rem;
  font-weight: bold;
}

#charBack{
  height: 10rem;
  position: absolute;
  z-index: 10;
  bottom: 3rem;
  right: -5rem;
}
#battleUI{
  height: 5rem;
  position: absolute;
  z-index: 5;
  bottom: .5rem;
  width: 95%;
  border-radius: 5px;
  border: 3px solid tan;
  display: flex;
  border-right: none;
}

#battleUILeft{
  text-align: left;
  padding-top: .7rem;
  width: 100%;
  padding-left: .5rem;
  background: rgb(63, 86, 121);
  color: white;

}

#battleUIRight{
  width: 14rem;
  height: 5rem;
  position: relative;
  top: -.2rem;

  z-index: 6;
  border: 3px solid tan;
  padding-left: 1rem;
  border-radius: 5px;
  display: none;
  background: white;
}

#battleUIRightTop{
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  margin-top: .5rem;
}
#battleUIRightBottom{
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
}
#battleUIRight button{
  border: none;
  background: none;
  text-align: start;
  display: flex;
}

.buttonRight{
  width: 2.5rem;
}

#fightArrow{
  margin-top: .2rem;
}

#bagArrow{
  display: none;
  margin-top: .2rem;
}
#bagBtn{
  position: relative;
  left: -1rem;
}
#pokeArrow{
  display: none;
  margin-top: .2rem; 
}

#runArrow{
  display: none;
  margin-top: .2rem;
}

#newRing{
  position: relative;
  top: 3.5rem;
  left: 5rem;
  width: 10rem;
  height: 3rem;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: none;
}

#newPokemonFront{
  position: absolute;
  top: -1rem;
  right: 1rem;
  height: 8rem;
}

#newPokemonInfo{
  position: absolute;
  top: .5rem;
  left: .5rem;
  height: 2.5rem;
  width: 10rem;
  border: 2px solid rgb(46, 46, 46);
  border-radius: 5px;
  background: rgb(255, 242, 222);
}

#newPokemonName{
  position: absolute;
  padding-left: .5rem;
}

#newBarBottom{

}

#newHpBar{
  position: absolute;
  top: 1.6rem;
  width: 8rem;
  margin-left: 18%;
  height: .5rem;
  background: red;
  border-radius: 10px;
  overflow: hidden;
}

#newHpBarInner{
  width: 100%;
  height: .7rem;
  background: green;
} 

#newHpText{
  position: absolute;
  font-size: .5rem;
  font-weight: bold;
  top: 1.45rem;
  left: .7rem;
}

#newHpValue{
  position: absolute; 
  right: .5rem;
  top: 2.3rem;
}




.squares{
  height: 2rem;
  width: 2rem;
  background: url("images/grass.png");
  background-size: contain;

}

#player{
  height: 2rem;
  width: 2rem;
  background-image: 
  url("images/redFront.png"),
  url("images/grass.png");
  background-size: contain;
}




#pokeball{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10rem;
  display: none;
  transform: rotate(35deg);
}

#pokedex{
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgb(248, 248, 248);
  color: black;
  text-align: start;
  padding-left: 7rem;
  display: none;
}

.underline{
  padding-top: 10rem;
  margin-bottom: 1rem;
  width: 12.5rem;
  position: relative;
  left: -3rem;
  color: black;
  border-bottom: 1px solid black;
}

.pokedexItemsCaught{
  position: relative;
  right: 1.1rem; 
}


.caughtBall{
  position: relative;
  right: .5rem;
  height: 1rem;
  width: 1rem;
}

#controls{
  position: absolute;
  top: 40rem;
  display: flex;
}

#arrowUp{
  position: relative;
  left: -3.3rem;
  top: -10rem;
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
  opacity: 0;
}
#arrowDown{
  position: relative;
  left: -12.3rem;
  top: -4rem;
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
  opacity: 0;
}

#arrowLeft{
  position: relative;
  left: -9rem;
  top: -7rem;
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
  opacity: 0;
}
#arrowRight{
  position: relative;
  left: -6.5rem;
  top: -7rem;
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
  opacity: 0;
}

#enterBtn{
  position: relative;
  left: 5rem;
  top: -9rem;
  border: 1px solid black;
  width: 4rem;
  height: 4.5rem;
  opacity: 0;
}


@media (max-width: 1000px) {

  #app{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2ac00;
    width: 100vw;
    height: 100vh;
    transform: scale(0.5);
  }

}