* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
#app{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
  
}

#counter2{
  perspective: 20px;
  /* transform: rotateY(45deg); */
}

#grid{
  margin-top: 10rem;
  width: 20em;
  display: flex;
  flex-wrap: wrap;
}

#introScreen{
  position: absolute;
  width: 20em;
  background: red;
  height: 20rem;
}

#titleText{
  width: 18rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.squares{
  height: 2rem;
  width: 2rem;
  background: url("images/grass.png");
  background-size: contain;

}

#player{
  height: 2rem;
  width: 2rem;
  background-image: 
  url("images/redFront.png"),
  url("images/grass.png");
  background-size: contain;

}

